<style>
    body
    {
        margin-right:200px;
        background-color:#b0c4de;
    }
    h1
    {
        background-position:right top;
        color:rgb(255,255,255);
        font-size:50px;
    }

    tab{padding-left:3em;}
    p1{font-size:25px;}
    p{font-size:15px;}
</style>

<h1>About Me</h1>    <h2> Andrew Swenson</h2>

<p>
        <tab> Since early high school I have been cooking at Italian resturants to make a pay check.
    My personality and behavoir was unprefessional during my two years in community college.
    The transistion to the university of minnesota in mankato increased level of difficulty.  This
    is when I discovered programming.

</p><br>

<%= image_tag("AndrewSwenson.jpg", :alt => "Andrew Swenson") %> <br>

<p1> Accomplishments:</p1>
    <p>
        Bachelor's Degree in Computer Science and Mathematics.
        <br/>          Minnesota State University, Mankato.
        <br/>  Performance Comparison Between DirectX and OpenGL.
        <br><br>Interests:  Ruby on Rails, Android, and OpenGL

    </p>
<%= link_to "Back", :back %>

